

@tailwind base;
@tailwind components;
@tailwind utilities;

.timeline-item {
	content: '';
	width: 20px;
	height: 20px;
	background-color: #ffffff;
  border: 1px solid #ccc;
	display: block;
	border-radius: 100%;
	position: relative;
	animation-duration: 300;
	transition: all;
}
.timeline-item:hover{
	scale: 1.1;
	background-color: yellow;
}

.timeline-content {
	position: absolute;
	top: 30px;
	left: 50%;
	transform: translateX(-50%);
	width: 100px;
	padding: 5px 10px;
	border-radius: 5px;
	text-align: center;
}